{% extends 'book/base.html' %}
{% load static %}

{% block content %}

		<div id="fh5co-work" style="margin: 50px;">
			<div class="row">
				<div class="col-md-8">
						<img src="{{item.image.url}}" alt="detail-image" class="img-responsive">
				</div>
				<div class="col-md-4 fh5co-project-detail" style="margin-top: 100px;">
					<h2 class="fh5co-project-title"><b>{{item.name}}</b></h2><br>

					<p>{{item.desc}}</p>

					<div class="fh5co-project-service">
						<h2>${{item.price}}</h2>
                        <a href="{% url 'add' item.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                          </svg> <div style="margin-left: -3px;"><b>add to cart</b></div></a>
					</div>
				</div>
			</div>
		</div>


{% endblock content %}